
.object-section {
  padding: 13px 15px 0;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #eeeff1;
  background-color: #fff;
  margin-bottom: 25px;
}
.object-section .c-body {
  padding-bottom: 25px;
}
.object-section__toolbar {
  border-bottom: 1px solid #eeeff1;
  padding-bottom: 15px;
  margin-left: -0.5rem;
}
.object-section__toolbar:hover .btn-drag-section {
  display: block;
}
.object-section .link, .dashboard-link {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #a6b7d4;
  text-decoration: none;
}
.object-section__toolbar .dropdown-toggle {
  color: #a6b7d4;
}
.object-section.ui-sortable-helper, .js-sort-t li.ui-sortable-placeholder.section-sortable-placeholder {
    height: 50px!important;
}
.object-section.ui-sortable-helper .object-section__toolbar {
    border-bottom: none;
}
.dashboard-title {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #161616;
  border-bottom: 1px solid #eeeff1;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.card.bg-light {
  background-color: #fbfcfd!important;
}
.pic {
  /*font-family: "VAG Rounded";*/
  color: #fff;
  font-size: .875rem;
  line-height: 40px;
}
.timeline {
  position: relative;
  z-index: 110;
  padding-left: 35px;
}
.timeline-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 15px 15px 14.9px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #eeeff1;
  background-color: #fff;
  margin-bottom: 15px;
}
.timeline-card:before {
  position: absolute;
  top: 24px;
  right: 0;
  left: -22px;
  width: 100%;
  z-index: -1;
  height: 1px;
  background-color: #eeeff1;
  content: "";
  transition: left 300ms ease;
}
.timeline-card:after, .timeline-title:after {
  position: absolute;
  top: 17px;
  bottom: -35px;
  left: -22px;
  z-index: 100;
  width: 1px;
  background-color: #eeeff1;
  content: "";
}
.timeline-card:last-child:after {
  display: none;
}
.timeline-card_icon_container {
  position: absolute;
  left: -35px;
  top: 12px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #a6b7d4;
  border-radius: 50%;
}
.timeline-card_icon {
  color: #fff;
}
.timeline-card_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.timeline-card_top_info {
  max-width: calc(100% - 20px);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  --margin-fix-space: 5px;
}
.timeline-card_top_info_left {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 8px;
}
.timeline-card_title{
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-right: 9px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  transition: color .2s linear;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #161616;
}
.timeline-card_top_info_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}
.timeline-card_time{
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8f8f8f;
}
.timeline-card_user{

}
.timeline-card_user_icon, .timeline-card_user_icon:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffdc96 2%, #ff8d8d 100%);
  font-size: 9px;
  font-family: "VAG Rounded";
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;f
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}
.timeline-card_body {

}
.timeline-card_body_container {

}
.timeline-card_container_block {

}
.timeline-card_text-block {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #161616;
}
.timeline-card_text-block_gray {
  color: #8f8f8f;
}
.timeline-title {
  position: relative;
  margin-bottom: 15px;
}
.timeline-title:before {
  position: absolute;
  z-index: -1;
  height: 1px;
  background-color: #eeeff1;
  content: "";
  transition: left 300ms ease;
  right: 0;
  left: -20px;
  width: calc(100% + 20px);
  top: 17px;
}
.timeline-title_container {
  position: relative;
  z-index: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-title_container_label {
  display: inline-block;
  padding: 2px 15px;
  margin-left: -20px;
  min-height: 18px;
  border-radius: 11px;
  color: #000;
  padding: 9px 22px 7px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #eeeff1;
  background-color: #fff;
}
.timeline-title_container_label.today {
  background-color: #2f8cff;
  color: #fff;
}
#map .ymaps-2-1-79-map {
    min-height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
