@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 14px;
}

/*------------------ПОДКЛЮЧЕНИЕ ШРИФТОВ---------------------------------------------*/
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldCondIt.eot");
  src: local("Myriad Pro Bold Condensed Italic"), local("../fonts/MyriadPro/MyriadPro-BoldCondIt"), url("../fonts/MyriadPro/MyriadPro-BoldCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldCondIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldCondIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackIt.eot");
  src: local("Myriad Pro Black Italic"), local("../fonts/MyriadPro/MyriadPro-BlackIt"), url("../fonts/MyriadPro/MyriadPro-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightIt.eot");
  src: local("Myriad Pro Light Italic"), local("../fonts/MyriadPro/MyriadPro-LightIt"), url("../fonts/MyriadPro/MyriadPro-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackCond.eot");
  src: local("Myriad Pro Black Condensed"), local("../fonts/MyriadPro/MyriadPro-BlackCond"), url("../fonts/MyriadPro/MyriadPro-BlackCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackCond.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Cond.eot");
  src: local("Myriad Pro Condensed"), local("../fonts/MyriadPro/MyriadPro-Cond"), url("../fonts/MyriadPro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
  src: local("Myriad Pro Bold"), local("../fonts/MyriadPro/MyriadPro-Bold"), url("../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldIt.eot");
  src: local("Myriad Pro Bold Italic"), local("../fonts/MyriadPro/MyriadPro-BoldIt"), url("../fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.eot");
  src: local("Myriad Pro Bold SemiCondensed Italic"), local("../fonts/MyriadPro/MyriadPro-BoldSemiCnIt"), url("../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-CondIt.eot");
  src: local("Myriad Pro Condensed Italic"), local("../fonts/MyriadPro/MyriadPro-CondIt"), url("../fonts/MyriadPro/MyriadPro-CondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-CondIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-CondIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightCond.eot");
  src: local("Myriad Pro Light Condensed"), local("../fonts/MyriadPro/MyriadPro-LightCond"), url("../fonts/MyriadPro/MyriadPro-LightCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightCond.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiCn.eot");
  src: local("Myriad Pro SemiCondensed"), local("../fonts/MyriadPro/MyriadPro-SemiCn"), url("../fonts/MyriadPro/MyriadPro-SemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiCn.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiCn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiCnIt.eot");
  src: local("Myriad Pro SemiCondensed Italic"), local("../fonts/MyriadPro/MyriadPro-SemiCnIt"), url("../fonts/MyriadPro/MyriadPro-SemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiCnIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiCnIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldCond.eot");
  src: local("Myriad Pro Bold Condensed"), local("../fonts/MyriadPro/MyriadPro-BoldCond"), url("../fonts/MyriadPro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldCond.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightSemiExtIt.eot");
  src: local("Myriad Pro Light SemiExtended Italic"), local("../fonts/MyriadPro/MyriadPro-LightSemiExtIt"), url("../fonts/MyriadPro/MyriadPro-LightSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightSemiExtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Semibold.eot");
  src: local("Myriad Pro Semibold"), local("../fonts/MyriadPro/MyriadPro-Semibold"), url("../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Black.eot");
  src: local("Myriad Pro Black"), local("../fonts/MyriadPro/MyriadPro-Black"), url("../fonts/MyriadPro/MyriadPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Black.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("../fonts/MyriadPro/MyriadPro-Regular"), url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightSemiCn.eot");
  src: local("Myriad Pro Light SemiCondensed"), local("../fonts/MyriadPro/MyriadPro-LightSemiCn"), url("../fonts/MyriadPro/MyriadPro-LightSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightSemiCn.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightSemiCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackCondIt.eot");
  src: local("Myriad Pro Black Condensed Italic"), local("../fonts/MyriadPro/MyriadPro-BlackCondIt"), url("../fonts/MyriadPro/MyriadPro-BlackCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackCondIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackCondIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightCondIt.eot");
  src: local("Myriad Pro Light Condensed Italic"), local("../fonts/MyriadPro/MyriadPro-LightCondIt"), url("../fonts/MyriadPro/MyriadPro-LightCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightCondIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightCondIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightSemiExt.eot");
  src: local("Myriad Pro Light SemiExtended"), local("../fonts/MyriadPro/MyriadPro-LightSemiExt"), url("../fonts/MyriadPro/MyriadPro-LightSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightSemiExt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightSemiExt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.eot");
  src: local("Myriad Pro Black SemiCondensed Italic"), local("../fonts/MyriadPro/MyriadPro-BlackSemiCnIt"), url("../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldCondIt.eot");
  src: local("Myriad Pro Semibold Condensed Italic"), local("../fonts/MyriadPro/MyriadPro-SemiboldCondIt"), url("../fonts/MyriadPro/MyriadPro-SemiboldCondIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldCondIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldCondIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldCond.eot");
  src: local("Myriad Pro Semibold Condensed"), local("../fonts/MyriadPro/MyriadPro-SemiboldCond"), url("../fonts/MyriadPro/MyriadPro-SemiboldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldCond.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldCond.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.eot");
  src: local("Myriad Pro Bold SemiExtended Italic"), local("../fonts/MyriadPro/MyriadPro-BoldSemiExtIt"), url("../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.eot");
  src: local("Myriad Pro Semibold SemiCondensed"), local("../fonts/MyriadPro/MyriadPro-SemiboldSemiCn"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.eot");
  src: local("Myriad Pro Black SemiExtended Italic"), local("../fonts/MyriadPro/MyriadPro-BlackSemiExtIt"), url("../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.eot");
  src: local("Myriad Pro Semibold SemiExtended Italic"), local("../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-LightSemiCnIt.eot");
  src: local("Myriad Pro Light SemiCondensed Italic"), local("../fonts/MyriadPro/MyriadPro-LightSemiCnIt"), url("../fonts/MyriadPro/MyriadPro-LightSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-LightSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-LightSemiCnIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldSemiCn.eot");
  src: local("Myriad Pro Bold SemiCondensed"), local("../fonts/MyriadPro/MyriadPro-BoldSemiCn"), url("../fonts/MyriadPro/MyriadPro-BoldSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldSemiCn.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldSemiCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.eot");
  src: local("Myriad Pro Semibold SemiCondensed Italic"), local("../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldIt.eot");
  src: local("Myriad Pro Semibold Italic"), local("../fonts/MyriadPro/MyriadPro-SemiboldIt"), url("../fonts/MyriadPro/MyriadPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-It.eot");
  src: local("Myriad Pro Italic"), local("../fonts/MyriadPro/MyriadPro-It"), url("../fonts/MyriadPro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BoldSemiExt.eot");
  src: local("Myriad Pro Bold SemiExtended"), local("../fonts/MyriadPro/MyriadPro-BoldSemiExt"), url("../fonts/MyriadPro/MyriadPro-BoldSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BoldSemiExt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BoldSemiExt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-Light.eot");
  src: local("Myriad Pro Light"), local("../fonts/MyriadPro/MyriadPro-Light"), url("../fonts/MyriadPro/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.eot");
  src: local("Myriad Pro Semibold SemiExtended"), local("../fonts/MyriadPro/MyriadPro-SemiboldSemiExt"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiExtIt.eot");
  src: local("Myriad Pro SemiExtended Italic"), local("../fonts/MyriadPro/MyriadPro-SemiExtIt"), url("../fonts/MyriadPro/MyriadPro-SemiExtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiExtIt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiExtIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackSemiCn.eot");
  src: local("Myriad Pro Black SemiCondensed"), local("../fonts/MyriadPro/MyriadPro-BlackSemiCn"), url("../fonts/MyriadPro/MyriadPro-BlackSemiCn.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackSemiCn.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackSemiCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-BlackSemiExt.eot");
  src: local("Myriad Pro Black SemiExtended"), local("../fonts/MyriadPro/MyriadPro-BlackSemiExt"), url("../fonts/MyriadPro/MyriadPro-BlackSemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-BlackSemiExt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-BlackSemiExt.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro-SemiExt.eot");
  src: local("Myriad Pro SemiExtended"), local("../fonts/MyriadPro/MyriadPro-SemiExt"), url("../fonts/MyriadPro/MyriadPro-SemiExt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-SemiExt.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-SemiExt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*------------------ТЕХНИЧЕСКИЕ КЛАССЫ----------------------------------------------*/
._container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------------ГЛАВНЫЕ КЛАССЫ-----------------------------------------*/
body {
  color: #1a1a1a;
  font-family: "Myriad Pro";
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
}

.footer {
  background: -o-radial-gradient(93% 25%, circle, #1c2734 29%, black 100%);
  background: radial-gradient(circle at 93% 25%, #1c2734 29%, black 100%);
}

.header.fixed {
  position: fixed;
  top: 0;
}

/*---------------------------ОСТАЛЬНЫЕ КЛАССЫ---------------------------------------*/
/*---------------------------HEADER-------------------------------------------------*/
.entrance {
  background: -o-radial-gradient(93% 25%, circle, #1c2734 29%, black 100%);
  background: radial-gradient(circle at 93% 25%, #1c2734 29%, black 100%);
  min-width: 100%;
  min-height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrance__block {
  width: 300px;
  margin: 0 auto;
}

.entrance__logo {
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entrance__logo img {
  width: 130px;
  height: 21.5px;
}

.entrance__domen {
  padding-bottom: 10px;
}

.entrance__domen input {
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

.entrance__text {
  color: #fff;
  font-size: 10px;
  padding-bottom: 5px;
}

.entrance__num input {
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.entrance__btn {
  margin: 35px auto 25px auto;
  border-radius: 5px;
  background-color: #2f8cff;
  width: 150px;
  height: 35px;
}

.entrance__btn-show.active {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(26, 26, 26, 0.568);
}

.entrance__btn input {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a00;
  font-size: 14px;
  color: #fff;
}

.entrance__code input {
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.entrance__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.entrance__code-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.entrance__code-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  color: white;
}

.entrance__code-text span {
  display: block;
  padding-top: 13px;
  padding-left: 13px;
}

.home {
  padding: 0 15px;
}

.header {
  padding: 0 15px;
  background: -o-radial-gradient(93% 25%, circle, #1c2734 29%, black 100%);
  background: radial-gradient(circle at 93% 25%, #1c2734 29%, black 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  text-align: right;
  min-height: 40px;
}

.home__block-1 {
  margin: 0 -15px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f5f3;
  margin-bottom: 15px;
}

.home__block-1-text {
  font-size: 21px;
  font-weight: bold;
}

.home__block-1-link {
  font-size: 21px;
  font-weight: bold;
  text-align: right;
  color: #23704b;
  position: relative;
}

.home__block-1-link a {
  font-weight: normal;
  display: block;
  color: black;
  font-size: 12px;
  text-decoration: underline;
}

.home__block-1-link-block {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 271px;
  padding: 15px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px 0 black;
          box-shadow: 0 0 3px 0 black;
  background-color: #1c2734;
  color: white !important;
  font-size: 14px;
  text-align: right;
  font-weight: normal;
}

.home__block-1-link-block.active {
  display: block;
}

.home__block-2 {
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.home__block-2-text {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: #161616;
}

.home__block-3 {
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__block-3-text {
  font-size: 18px;
  font-weight: bold;
}

.home__block-3-text span {
  color: #c0c0c0;
}

.home__block-3-btn {
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
}

.home__button {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #c0c0c0;
  color: white;
  font-size: 12px;
}

.home__block-4 {
  margin: 0 -15px ;
  padding: 0 15px;
  height: 35px;
  background-color: #f6f5f3;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__text {
  font-size: 14px;
  font-weight: bold;
}

.home__text span {
  color: #c0c0c0;
}

.content2 {
  margin: -15px -15px 15px -15px;
  padding: 0 15px 15px 15px;
  background-color: #f6f5f3;
}

.content2__text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.content2__text .status-group {
   display: flex!important;
}
.content2__text>span {
  display: inline-block;
  color: #8f8f8f;
  font-size: 14px;
  margin-bottom: 5px;
}
.content2__text a {
  /*margin-top: 5px;*/
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px solid #1253a2;
  color: #1253a2;
}
.content2__header-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.content2__header-table span {
  padding: 8px 15px;
  display: block;
  border: 1px solid #ccc;
}

.content2__header-table span:not(:first-child) {
  text-align: center;
}

.content2__header-table span:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
          flex: 0 1 68%;
  border-right: none;
}

.content2__header-table span:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
}

.content2__header-table span:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
  border-left: none;
}

.content2__content-table {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}

.content2__content-table span {
  line-height: normal;
  display: block;
  text-align: center;
  font-size: 16px;
}

.content2__content-table>span:nth-child(1) {
  
  text-align: left;
}

.content2__content-table>span:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
          flex: 0 1 68%;
          display: flex;
    align-items: center;
    justify-content: center;
}

.content2__content-table>span:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
          display: flex;
    align-items: center;
    justify-content: center;
}
.content2__content1 span {
  text-align: left;
}
.content2__content2 {
  line-height: 30px !important;
}

.content2__content3 {
  line-height: 30px !important;
}

.content2__link {
  display: inline-block;
  margin: 10px 0 0 auto;
  
  color: #1253a2;
  font-size: 16px;
  line-height: 17px;
}
.content2__link img {
  margin-left: 10px;
  height: 16px;
}
.content2__table {
  margin-top: 15px;
}
.home__block-5 {
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__block-6 {
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__block-7 {
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__block-8 {
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__block-9 {
  
  margin: 0 -15px;
  padding: 0 15px;
  height: 48px;
  background-color: #f6f5f3;
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.home__block-text {
  color: #161616;
  font-size: 16px;
}

.home__block-text span {
  font-weight: 700;
}

.home__block-text p {
  display: block;
}

.home__block-text {
  margin-top: 15px;
  margin-bottom: 20px;
}

.content1 {
  display: none;
}

.content1.active {
  display: block;
}

.content2 {
  display: none;
}

.content2.active {
  display: block;
  margin-bottom: 3px;
  padding-top: 15px;
}

.content3 {
  display: none;
}

.content3.active {
  display: block;
}

.content4 {
  display: none;
}

.content4.active {
  display: block;
}

.content5 {
  display: none;
}

.content5.active {
  display: block;
}

.general {
  padding: 0 15px;
}

.general__table {
  margin: 0 -15px;
}

.general__content-table {
  padding: 0 15px;
}

.general__header-table {
  background-color: #f6f5f3 !important;
}

.general__text {
  margin-top: 30px;
}

.general__block {
  padding-top: 35px;
  width: 100%;
  background-color: #f6f5f3;
  margin-top: 10px;
}

.general__btn {
  margin: 0 auto 0 auto;
  width: 175px;
  height: 35px;
  border-radius: 5px;
  background-color: #0b9a1e;
}
div[data-field="comment"] {
  font-weight: normal!important;
}
.general__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.general__eror {
  padding: 25px 0 35px 0;
  text-align: center;
}

.general__eror a {
  color: #ad0b0a;
  text-decoration: underline;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 101;
}

.main {
  margin-top: 40px;
}

.header__btn {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  color: #0584fe;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px;
}

.header__btn img {
  margin-right: 10px;
  height: 16px;
}

.header__text {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  max-width: 90%;
  text-align: center;
}

.eror {
  padding: 0 15px;
}

.content2__text textarea::-webkit-input-placeholder {
  color: #4e4e4e;
  font-size: 14px;
}

.content2__text textarea::-moz-placeholder {
  color: #4e4e4e;
  font-size: 14px;
}

.content2__text textarea:-ms-input-placeholder {
  color: #4e4e4e;
  font-size: 14px;
}

.content2__text textarea::-ms-input-placeholder {
  color: #4e4e4e;
  font-size: 14px;
}

.content2__text textarea::placeholder {
  color: #4e4e4e;
  font-size: 14px;
}

.content2__text textarea {
  color: #4e4e4e;
  font-size: 14px;
  padding: 10px;
  height: 115px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fff;
  display: block;
  resize: none;
}

.content2__text input {
  background-color: #0586fe00;
  color: #fff;
  font-size: 16px;
}

.eror__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 35px;
  margin: 25px auto 0 auto;
  border-radius: 5px;
  background-color: #ad0b0a;
}

.compas {
  padding: 15px;
}

.compas__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compas__item {
  position: relative;
  line-height: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f6f5f3;
}

.compas__item:not(:last-child) {
  margin-bottom: 5px;
}

.compas__title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 90%;
}

.compas__text {
  color: #c0c0c0;
  font-size: 14px;
  padding-bottom: 5px;
}

.shipments {
  padding: 0 15px;
}

.shipments__info {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 15px;
  text-align: right;
  font-size: 12px;
  color: #8f8f8f;
}

.shipments__info span {
  color: #ad0b0a;
  font-size: 14px;
}
.wait {
  color: #ad0b0a;
  font-size: 14px;
}
.shipments__items {
  margin-bottom: 20px;
}

.shipments__item-eror {
  background-color: #f6e6e6;
}

.shipments__item-yes {
  background-color: #f1f9f2;
}

.shipments__button-red {
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background-color: #ae0a0a;
}

.shipments__button-green {
  background-color: #0b9a1e;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.shipments__form {
  margin: 15px 0 20px 0;
}
.shipments__form .scan{
  position: absolute;
  left: 0;
  top: 50%;
  width: 55px;
  height: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          background-color: #f6f5f3;;
}
.shipments__form .search-b{
  position: absolute;
  right: 0;
  top: 50%;
  width: 55px;
  height: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          background-color: #f6f5f3;;
}
.shipments__form input {
  padding-left: 65px;
}
.shipments__form img {
  width: 25px;
  height: 20px;
}

.shipments__form label {
  position: relative;
  /*padding: 10px;*/
  display: block;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fff;
  height: 40px;
}
.shipments__form  input {
  height: 100%;
}
.content2-padding {
  padding-bottom: 25px;
}

.home__button {
  display: inline-block;
  padding: 4px 15px 3px !important;
}

.home__button2 {
  padding: 4px 15px 3px;
  border-radius: 3px;
  background-color: #b8e7be;
  display: inline-block;
  font-size: 14px;
}

.home__button3 {
  padding: 4px 15px 3px;
  border-radius: 3px;
  background-color: #0b9a1e;
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

.home__button4 {
  padding: 4px 15px 3px;
  border-radius: 3px;
  background-color: #ae0a0a;
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

.home__button5 {
  font-size: 12px;
  padding: 4px 15px 3px;
  border-radius: 3px;
  background-color: #fd8301;
  display: inline-block;
  color: #fff;
}
.js-product-count:focus{
  border: 1px solid #BCBCBC!important;
    /*height: 100%;*/
    width: 100%;
}
.store-text {
  font-size: 12px!important;
  color: #8f8f8f;
  margin-top: 10px;
}
.store-text-name {
  font-size: 14px!important;
  color: #000;
}
.comment-area {
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 10px 12px;
  width: 100%;
  height: 115px;
}
.qr-code {
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fff;
  display: inline-block;
}
.qr-code span {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}
.text-green {
  color: #0b9a1e;
}
.text-red {
  color: #ad0b0a!important;
}
.shipment-product-name {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.shipment-product-sub {
  font-size: 12px;
  text-align: center;
  color: #8f8f8f;
}
.shipment-product-count {
  margin-top: 5px;
  font-size: 31px;
  font-weight: bold;
  text-align: center;
}
.shipment-product-quantity {
  width: 100%;
  margin-right: 0;
  height: 42px;
}
.shipment-product-quantity .wrap {
  position: relative;
  width: 100%;
}
.shipment-product-quantity a:nth-child(1), .shipment-product-quantity a:nth-child(3) {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    width: 50px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    padding: 3px 0;
    height: 42px;
    position: absolute;
    background: #fff;
    border: 1px solid #767676;
    font-size: 20px;
}
.shipment-product-quantity a:hover {
  border: 1px solid #1865C4;
  color: #1865C4;
  background: rgba(24, 101, 196, 0.0723288);
}
.shipment-product-quantity a:nth-child(1) {
  left: 0;
}
.shipment-product-quantity a:nth-child(3) {
  right: 0;
}
.shipment-product-quantity input {
  width: 100%;
  height: 42px;
  font-size: 18px;
  font-weight: 600;
}
.p-product-content-prices.new .p-product-content-prices-price {
  display: block;
  margin-top: 15px;
  color: #000;
}
.shipment-product-quantity div {
  /*margin-top: 10px;*/
  line-height: 1;
  margin-bottom: 15px;
}
.shipment-product-quantity input {
    width: 100%;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    float: left;
    padding: 0;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: normal;
    text-align: center;
}
.bg-gray {
  padding: 25px;
  text-align: center;
  background-color: #f6f5f3;
}
.shipment-btn-product {
  background-color: #0b9a1e;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 0 auto;
}
.fine-title {
  max-width: 260px;
  text-align: center;
}
.simple-table {
  width: 100%;
}
.simple-table th, .simple-table td {
  padding: 17px 15px;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: normal;
}
.simple-table td {
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
}
.text-green {
  color: #23704b;
}
.simple-table th {
  background-color: #f6f5f3;
  border: solid 1px #ccc;
}
.login-button {
  margin-top: 30px;
}