table.datatable.dataTable.no-footer.fixedHeader-floating {
    top: 0px;
    width: 100% !important;
    display: block;
    overflow-x: auto;
}
.payment-td .bg-status,.bg-status-payment {
    border-radius: 0;
}
.bg-status-doc.status-1 {
    background: url(/img/doc.svg);
    background-size: 100%;
    width: 25px;
    height: 25px;
}
.bg-status-doc.status-2 {
    background: url(/img/doc_active.svg);
    background-size: 100%;
    width: 25px;
    height: 25px;
}
.bg-status-doc.status-3 {
    background: url(/img/doc_active_blue.svg);
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.bg-status-doc.status-4 {
    background: url(/img/doc_active_orange.svg);
    background-size: 100%;
    width: 25px;
    height: 25px;
}
[data-field="docs_status"] .select2-container--default .select2-selection--single .select2-selection__rendered,[data-field="docs_status"] .select2-container .select2-selection--single,[data-field="docs_status"] .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 25px;
    overflow: hidden;
}

#orders-table {
    max-width: 100%;
}
@media(max-width: 768px) {
    #orders-table {
        max-width: none;
    }
}
.dt-buttons {
    display: none;
}
.nav-pills {
    margin: 0;
    float: right;
}
.js-plus {
    cursor: pointer;
    color: #979797;
    font-size: 27px;
    line-height: 1;
}
table.infostore-table.gray tr td, table.infostore-table.gray tr th {
    background: #f6f5f3;;
}